
/* Canvas CSS*/

#myCanvas {

border:5px solid rgb(255, 60, 0);

/*Gives a background incase the image doesn'y load (Defensive programming)*/
background-color: rgb(83, 190, 92);
 }

 #centerTheCanvas{
    position: relative;
    margin:auto;
    width: 1200px;
    height: 500px;
}​
/*Html body CSS */

.bodyColor {
    background-color: rgb(255, 208, 0) !important;
}


/* H1 Farmer vs Aliens CSS*/

#GameName{
    color:rgba(6, 199, 22, 0.651);
    font-size:50px;
    font-family: fantasy;
    background-color: rgb(255, 208, 0) !important;
    text-align:center;
}

/* H1 Level CSS*/

#Level{
    text-align: center;
    background-color: rgb(255, 208, 0) !important;
}

/*Footer CSS */

.footer{
    position: relative;
    text-align: center;
    background-color: rgb(255, 208, 0) !important;
}



