
/* Canvas CSS--------------------------------------------------------------------------------------------*/

#myCanvas {

border:5px solid rgb(255, 60, 0);

/*Gives a background color incase the image doesn't load (Defensive programming)-------------------------*/
background-color: rgb(83, 190, 92);
 }

 #centerTheCanvas{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:25px;
    margin-top:25px;
    width: 1200px;
    height: 500px;
}​
/*Html body CSS------------------------------------------------------------------------------------------ */

body{background-color: rgb(255, 208, 0)}

.bodyColor {
    background-color: rgb(255, 208, 0);
}


/* H1 Farmer vs Aliens CSS-------------------------------------------------------------------------------*/

#GameName{
    
    color:rgba(6, 199, 22, 0.651);
    font-size:50px;
    font-family: fantasy;
    background-color: rgb(255, 208, 0) !important;
    text-align:center;
}

/* H1 How to play CSS-----------------------------------------------------------------------------------*/

#Controls{
    
    text-align: center;
    color: rgb(211, 15, 211);
    background-color: rgb(255, 208, 0) !important;
}

/*Footer CSS ----------------------------------------------------------------------------------------------*/

.footer{
    height:25px;
    position: relative;
    text-align: center;
    background-color: rgb(255, 208, 0) !important;
}

/*Button 

#ChangeSpeed{
    margin-bottom: 20px;
    Width:60px;
    border-color: greenyellow;
    color:White;
    background-color: blueviolet;
    
}
*/
